/* style.css */
.navbar {
    height: 40px;
    padding: 15px 20px;
}

.navbar-collapse {
    justify-content: end !important;
}

.select,
input,
textarea {
    border-radius: 0px !important;
}

.form-control {
    border-radius: 0px !important;
}

.change-language {
    width: 200px !important;
    margin: 0px 5px !important;
}

.keyboard_add {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.keyboard_add input {
    width: 10px !important;
}

.change-character-dialog input {
    /*width: 100% !important;*/
    max-width: 100% !important;
}

.input-group-text {
    padding: 0px 10px !important;
}

.navbar button,
select,
input {
    height: 33px !important;
    padding: 5px 8px !important;
    max-width: 25%;
}

.use-keyboard-input {
    width: 100%;
    padding: 10px 20px;
    height: 60VH !important;
}
 
.bg-primary,
.btn-primary {
    background-color: #009a7c !important;
    border: 2px solid white !important;
}

.main-div {
    padding: 10PX 20PX;
    background: #b7d5cf;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 30px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transition: bottom 0.4s;
}

.keyboard_name_change_class:disabled {
    background: #e0e0e0 !important;
}

.comp_keys_div {
    max-height: 400px !important;
    overflow-y: auto;
}

.keyboard_name_change_class {
    width: 20%;
    padding: 1px 14px;
    color: #737373;
    margin-left: 5px;
}

.d-flex {
    justify-content: space-between;
}

.d-flex input {
    min-width: 50% !important;
}

.btn {
    border-radius: 0px !important;
}

.keyboard__keys {
    text-align: center;
}


.clear-screen {
    padding: 3px 20px;
    float: left;
    clear: both;
    margin-left: 5px !important;
    cursor: pointer;
    border-radius: 0px !important;
    background: gray;
    color: white;
    border-color: #fff;
}

.clear-screen:hover {
    background: #fff;
    color: gray;
    border-color: gray;
}

.keyboard-actions {
    text-align: right;
    padding: 0.5%;
    margin-right: 1.5%;
}

#add_newkeyboard, #save_keyboard_current, #download_option {
    padding: 3px 10px;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 0px !important;
    background: #009a7c !important;
    color: white !important;
    border-color: #fff !important;
}

.lang_changer_2 {
    margin-bottom: 20px !important;
    min-width: 250px !important;
}

#add_newkeyboard:hover, #save_keyboard_current:hover, #download_option:hover {
    background: #fff !important;
    color: #009a7c !important;
    border: 1px solid #009a7c !important;
}

.restore-action {
    padding: 3px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 0px !important;
    background: #009a7c;
    color: white;
    border-color: #fff;
}

#keyboards_changer {
    width: 15%;
}

.delete-action {
    padding: 3px 10px;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 0px !important;
    background: #ff0000;
    border: 1px solid white;
    color: white;
}

.keyboard__key:hover {
    background: #447c71;
}

.restore-action:hover {
    background: #fff;
    color: #009a7c;
    border-color: #009a7c;
}

.delete-action:hover {
    background: #fff;
    color: #ff0000;
    border-color: #ff0000;
}

.keyboard__key {
    height: 55px;
    width: 5.2%;
    max-width: 90px;
    margin: 3px;
    border-radius: 3px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 0.85rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra--wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
    height: 35px !important;
}

.custom-prompt {
    position: fixed !important;
    top: 10% !important;
    right: 4% !important;
    width: 25% !important;
    background-color: snow !important;
    border: 1px solid rgb(204, 204, 204) !important;
    padding: 15px !important;
    box-shadow: rgba(0, 0, 0.2, 0.2) 1px -1px 45px !important;
    z-index: 1000 !important;
}